<!-- <div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center alig-items-center">
            <h1>Paga con Tarjeta</h1>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center alig-items-center">
            <form id="payment-form">
                <input type="text" id="email" placeholder="Correo electronico" />
                <div id="card-element">
                </div>
                <button id="submit">
                  <div class="spinner hidden" id="spinner"></div>
                  <span id="button-text">Pagar S/.{{ cantidadDesdeService }},00</span>
                </button>
                <p id="card-error" role="alert"></p>
                <p class="result-message hidden">
                    Pago realizado con
                    <a href="" target="_blank">éxito</a>
                </p>
            </form>
        </div>
    </div>
</div> -->
<div class="animate__animated animate__fadeIn">
    <div class="row">
        <div class="col d-flex justify-content-center alig-items-center">
            <h5>Aceptamos las siguentes tarjetas</h5>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center alig-items-center">
            <img src="../../../../assets/img/pay.png" width="50%">
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center alig-items-center">
            <h5>Por favor ingrese la información de la tarjeta</h5>
        </div>
    </div>
    <br>
    <div id="card-element">
    </div>
    <button id="submit" data-toggle="modal" data-target="#finalmodal">
                      <div class="spinner hidden" id="spinner"></div>
                      <span id="button-text">Pagar S/.{{ cantidadDesdeService }},00</span>
                    </button>
    <p id="card-error" role="alert"></p>
    <p class="result-message hidden">
        Pago realizado con
        <a href="" target="_blank">éxito</a>
    </p>
    <!-- Modal -->
    <div class="modal fade" id="finalmodal" tabindex="-1" role="dialog" aria-labelledby="finalModalLabel" data-backdrop="false" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Finalizar compra</h5>
                </div>
                <div class="modal-body">
                    ¡Felicitaciones! Tu compra ha sido procesada.
                    <br> El tiempo aproximada de entrega es de 45 minutos.
                    <br> Gracias por tu apertura a vivir algo diferente.
                    <br> En caso quieras contactarnos puedes escribirnos o llamarnos a este número +51954719605.
                </div>
                <div class="modal-footer">
                    <button [routerLink]="'/carta'" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>