<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center alig-items-center text-center">
            <h1>Paga con Yape</h1>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center alig-items-center text-center">
            <h2><span>Monto a pagar: S/.{{ cantidadDesdeService }},00</span></h2>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center alig-items-center text-center">
            <h2>Puede pagar al siguente número: +51 954 719 605 o también al QR:</h2>
        </div>
    </div>
    <div class="row qr">
        <div class="col d-flex justify-content-center alig-items-center text-center">
            <img src="../../../../assets/img/qr.png" width="50%">
        </div>
    </div>
</div>