<div class="grid-container">
    <div class="efectivo">
        <h2 class="grid-title">{{ordersEfectivo.name | uppercase }}</h2>
        <div *ngFor="let item of ordersEfectivo.items">
            <!-- template -->
            <div class="order align-items-start">
                <div class="row">
                    <div class="col-6 text">
                        <h6>{{item.name}}</h6>
                        <h6>{{item.number}}</h6>
                        <h6>{{item.email}}</h6>
                        <h6>{{item.address}}</h6>
                        <h6>{{item.reference}}</h6>
                        <h6>{{item.comentary}}</h6>

                    </div>
                    <div class="col-6">
                        <button *ngIf="item.paid==false" class="btn-service red" data-toggle="modal" data-target="#stripePagadoModal">>PAGADO</button>
                        <button *ngIf="item.paid==true" class="btn-service green" data-toggle="modal" data-target="#stripePagadoModal">>PAGADO</button>
                        <!-- Modal -->
                        <div class="modal fade" id="stripePagadoModal" tabindex="-1" role="dialog" aria-labelledby="stripePagadoModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="pagadoModalLabel">PAGADO</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Desea confirmar el pedido?
                                        <br> Por favor asegurese de haber llenado todos los campos obligatorios.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-dismiss="modal">Cancelar</button>
                                        <button data-dismiss="modal" type="submit" (click)="setPaidState(item.paid, item.id)">Confirmar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button *ngIf="item.paid==false" class="btn-service red" data-toggle="modal" data-target="#stripeConfirmadoModal">CONFIRMADO</button>
                        <button *ngIf="item.paid==true" class="btn-service green" data-toggle="modal" data-target="#stripeConfirmadoModal">CONFIRMADO</button>
                        <!-- Modal -->
                        <div class="modal fade" id="stripeConfirmadoModal" tabindex="-1" role="dialog" aria-labelledby="stripeConfirmadoModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmadoModalLabel">CONFIRMADO</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Desea confirmar el pedido?
                                        <br> Por favor asegurese de haber llenado todos los campos obligatorios.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-dismiss="modal">Cancelar</button>
                                        <button data-dismiss="modal" type="submit" (click)="setconfirmedState(item.confirmed, item.id)">Confirmar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="yape">
        <h2 class="grid-title">{{ordersYape.name | uppercase }}</h2>
        <div *ngFor="let item of ordersYape.items">
            <!-- template -->
            <div class="order align-items-start">
                <div class="row">
                    <div class="col-6 text">
                        <h6>{{item.name}}</h6>
                        <h6>{{item.number}}</h6>
                        <h6>{{item.email}}</h6>
                        <h6>{{item.address}}</h6>
                        <h6>{{item.reference}}</h6>
                        <h6>{{item.comentary}}</h6>
                        <h6>{{item.id}}</h6>
                        <h6>confirmed {{item.confirmed}}</h6>
                        <h6>paid {{item.paid}}</h6>
                    </div>
                    <div class="col-6">
                        <button (click)="unsubscribeDataInterval();" *ngIf="item.paid==false" class="btn-service red" data-toggle="modal" #elem [attr.data-target]="'#paid'+item.id">PAGADO</button>
                        <button (click)="unsubscribeDataInterval();" *ngIf="item.paid==true" class="btn-service green" data-toggle="modal" #elem [attr.data-target]="'#paid'+item.id">PAGADO</button>
                        <!-- Modal -->
                        <div class="modal fade" #elem [attr.id]="'paid'+item.id" tabindex="-1" role="dialog" aria-labelledby="yapePagadoModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="pagadoModalLabel">PAGADO</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Desea confirmar el pedido?
                                        <br> Por favor asegurese de haber llenado todos los campos obligatorios.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-dismiss="modal">Cancelar</button>
                                        <button data-dismiss="modal" type="submit" (click)="setPaidState(item.paid, item.id); subscribeDataInterval();">Confirmar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button (click)="unsubscribeDataInterval();" *ngIf="item.confirmed==false" class="btn-service red" data-toggle="modal" #elem [attr.data-target]="'#confirmed'+item.id">CONFIRMADO</button>
                        <button (click)="unsubscribeDataInterval();" *ngIf="item.confirmed==true" class="btn-service green" data-toggle="modal" #elem [attr.data-target]="'#confirmed'+item.id">CONFIRMADO</button>
                        <!-- Modal -->
                        <div class="modal fade" #elem [attr.id]="'confirmed'+item.id" tabindex="-1" role="dialog" aria-labelledby="yapeConfirmadoModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmadoModalLabel">CONFIRMADO</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Desea confirmar el pedido?
                                        <br> Por favor asegurese de haber llenado todos los campos obligatorios.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-dismiss="modal">Cancelar</button>
                                        <button data-dismiss="modal" type="submit" (click)="setconfirmedState(item.confirmed, item.id); subscribeDataInterval();">Confirmar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="stripe">
        <h2 class="grid-title">{{ordersStripe.name | uppercase }}</h2>
        <div *ngFor="let item of ordersStripe.items">
            <!-- template -->
            <div class="order align-items-start">
                <div class="row">
                    <div class="col-6 text">
                        <h6>{{item.name}}</h6>
                        <h6>{{item.number}}</h6>
                        <h6>{{item.email}}</h6>
                        <h6>{{item.address}}</h6>
                        <h6>{{item.reference}}</h6>
                        <h6>{{item.comentary}}</h6>
                        <h6>{{item.id}}</h6>
                        <h6>confirmed {{item.confirmed}}</h6>
                        <h6>paid {{item.paid}}</h6>
                    </div>
                    <div class="col-6">
                        <button (click)="unsubscribeDataInterval();" *ngIf="item.paid==false" class="btn-service red" data-toggle="modal" #elem [attr.data-target]="'#paid'+item.id">PAGADO</button>
                        <button (click)="unsubscribeDataInterval();" *ngIf="item.paid==true" class="btn-service green" data-toggle="modal" #elem [attr.data-target]="'#paid'+item.id">PAGADO</button>
                        <!-- Modal -->
                        <div class="modal fade" #elem [attr.id]="'paid'+item.id" tabindex="-1" role="dialog" aria-labelledby="efectivoPagadoModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="pagadoModalLabel">PAGADO</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Desea confirmar el pedido?
                                        <br> Por favor asegurese de haber llenado todos los campos obligatorios.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-dismiss="modal">Cancelar</button>
                                        <button data-dismiss="modal" type="submit" (click)="setPaidState(item.paid, item.id); subscribeDataInterval();">Confirmar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button (click)="unsubscribeDataInterval();" *ngIf="item.confirmed==false" class="btn-service red" data-toggle="modal" #elem [attr.data-target]="'#confirmed'+item.id">CONFIRMADO</button>
                        <button (click)="unsubscribeDataInterval();" *ngIf="item.confirmed==true" class="btn-service green" data-toggle="modal" #elem [attr.data-target]="'#confirmed'+item.id">CONFIRMADO</button>
                        <!-- Modal -->
                        <div class="modal fade" #elem [attr.id]="'confirmed'+item.id" tabindex="-1" role="dialog" aria-labelledby="efectivoConfirmadoModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmadoModalLabel">CONFIRMADO</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Desea confirmar el pedido?
                                        <br> Por favor asegurese de haber llenado todos los campos obligatorios.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-dismiss="modal">Cancelar</button>
                                        <button data-dismiss="modal" type="submit" (click)="setconfirmedState(item.confirmed, item.id); subscribeDataInterval();">Confirmar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>