<div class="grid-container">
    <div class="orden">
        <h2 class="grid-title">ORDENES</h2>
        <div *ngFor="let item of dashboard; let i = index">
            <div class="order align-items-start">
                <div class="row box">
                    <div class="col-5 text">
                        <h6>nombre : {{item.name}}</h6>
                        <h6>teléfono : {{item.number}}</h6>
                        <h6>email : {{item.email}}</h6>
                        <h6>dirección : {{item.address}}</h6>
                        <h6>referencia : {{item.reference}}</h6>
                        <h6>comentario : {{item.comentary}}</h6>
                        <h5>hora : {{item.date | date:'shortTime' }}</h5>
                    </div>
                    <div class="col-4 text">
                        <div *ngIf="item.image_payment!=null">
                            <h6>Comprobante de pago : </h6>
                            <a class="voucher" (click)="unsubscribeDataInterval();"><img [src]="'https://admin.loungedelbrujo.com'+item.image_payment" width="100" data-toggle="modal" #elem [attr.data-target]="'#img'+item.id"></a>
                            <div class="modal fade" #elem [attr.id]="'img'+item.id" tabindex="-1" role="dialog" aria-labelledby="imgModalLabel" data-backdrop="false" aria-hidden="false">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content modal-img">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="pagadoModalLabel">Comprobante de pago</h5>
                                        </div>
                                        <div class="modal-body">
                                            <img [src]="'https://admin.loungedelbrujo.com'+item.image_payment" width="465">
                                        </div>
                                        <div class="modal-footer">
                                            <button data-dismiss="modal" type="submit">Ok</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 text">
                        <button (click)="unsubscribeDataInterval();" class="btn-service" data-toggle="modal" #elem [attr.data-target]="'#order'+item.id">ORDEN</button>
                        <div class="modal fade" #elem [attr.id]="'order'+item.id" tabindex="-1" role="dialog" aria-labelledby="ordenModalLabel" data-backdrop="false" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="pagadoModalLabel">ORDEN</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-6">
                                                <h6>PRODUCTS</h6>
                                            </div>
                                            <div class="col-6 quantity">
                                                <h6>CANTIDAD</h6>
                                            </div>
                                        </div>
                                        <div *ngFor="let product of dashboard[i].details">
                                            <div class="row">
                                                <div class="col-6">
                                                    <h6>{{product.product.name}}</h6>
                                                </div>
                                                <div class="col-6 quantity">
                                                    <h6>{{product.quantity}}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button data-dismiss="modal" type="submit" (click)="subscribeDataInterval();">Confirmar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button (click)="unsubscribeDataInterval();" *ngIf="item.paid==false" class="btn-service red" data-toggle="modal" #elem [attr.data-target]="'#paid'+item.id">PAGADO</button>
                        <button (click)="unsubscribeDataInterval();" *ngIf="item.paid==true  && item.payment_method.id !=3" class="btn-service green" data-toggle="modal" #elem [attr.data-target]="'#paid'+item.id">PAGADO</button>
                        <button *ngIf="item.payment_method.id ==3" class="btn-service green">PAGADO</button>
                        <!-- Modal -->
                        <div class="modal fade" #elem [attr.id]="'paid'+item.id" tabindex="-1" role="dialog" aria-labelledby="pagadoModalLabel" data-backdrop="false" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="pagadoModalLabel">PAGADO</h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-dismiss="modal" (click)="subscribeDataInterval()">Cancelar</button>
                                        <button data-dismiss="modal" type="submit" (click)="setPaidState(item.paid, item.id); subscribeDataInterval();">Pagar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button (click)="unsubscribeDataInterval();" *ngIf="item.confirmed==false" class="btn-service red" data-toggle="modal" #elem [attr.data-target]="'#confirmed'+item.id">CONFIRMADO</button>
                        <button (click)="unsubscribeDataInterval();" *ngIf="item.confirmed==true" class="btn-service green" data-toggle="modal" #elem [attr.data-target]="'#confirmed'+item.id">CONFIRMADO</button>
                        <!-- Modal -->

                        <div class="modal fade" #elem [attr.id]="'confirmed'+item.id" tabindex="-1" role="dialog" aria-labelledby="confirmadoModalLabel" data-backdrop="false" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmadoModalLabel">CONFIRMADO</h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-dismiss="modal" (click)="subscribeDataInterval()">Cancelar</button>
                                        <button data-dismiss="modal" type="submit" (click)="setconfirmedState(item.confirmed, item.id); subscribeDataInterval();">Confirmar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="formadepago">
        <h2 class="grid-title">FORMA DE PAGO</h2>
        <div *ngFor="let item of dashboard">
            <div class="order align-items-start">
                <div class="row box">
                    <div class="col-12 text">
                        <h4>Forma de pago : {{item.payment_method.name}}</h4>
                        <h5>Costo del pedido: S/.{{item.order_price}}</h5>
                        <h5>Costo del delivery: S/.{{item.delivery_cost}}</h5>
                        <h5>Costo Total: S/.{{item.total_price}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>