<div class="grid-container">
    <div class="efectivo">
        <h2 class="grid-title">{{ordersEfectivo.name | uppercase }}</h2>
        <div *ngFor="let item of ordersEfectivo.items">
            <h5>{{item}}</h5>
        </div>
    </div>
    <div class="yape">
        <h2 class="grid-title">{{ordersYape.name | uppercase }}</h2>
        <div *ngFor="let item of ordersYape.items">
            <h5>{{item}}</h5>
        </div>
    </div>
    <div class="stripe">
        <h2 class="grid-title">{{ordersStripe.name | uppercase }}</h2>
        <div *ngFor="let item of ordersStripe.items">
            <h5>{{item}}</h5>
        </div>
    </div>
</div>