.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "efectivo yape stripe";
    min-height: 100vh;
}

.efectivo {
    grid-area: efectivo;
    border: .5rem solid rgb(102, 101, 101);
}

.yape {
    grid-area: yape;
    border: .5rem solid rgb(102, 101, 101);
}

.stripe {
    grid-area: stripe;
    border: .5rem solid rgb(102, 101, 101);
}

.grid-title {
    text-align: center;
    background-color: rgb(102, 101, 101);
    color: white;
}

.order {
    border: .1rem solid rgb(120, 22, 33);
}

h6 {
    margin: .5rem;
}

h5 {
    margin: .5rem;
}

button {
    height: auto;
    color: #ffffff;
    background: rgb(120, 22, 33);
    border-radius: 0 0 4px 4px;
    border: 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}

.btn-service {
    width: 10rem;
    margin: 1rem;
}

.green {
    background: rgb(22, 155, 22);
}

.red {
    background: red;
}

.quantity {
    text-align: right;
}

button:hover {
    filter: contrast(115%);
}