<app-header></app-header>
<div class="container-fluid test3">
<!--  <img src="assets/img/light-bg-02.png">-->
</div>
<div class="container test">
  <div class="row">
    <div class="col-md-12 col-lg-6 text-center test2">
      <p>
        “Era con la brujería, chamanismo, alquimia o ciencia, con lo que nuestros ancestros buscaban entender y entrar
        en conexión con el mundo, pues era en este dónde se encontraban. Y es que cuando el ser humano está vinculado al
        mundo que le rodea, es capaz de ver que todo sigue un orden cósmico y divino; incluso entiende que su ser posee
        la misma naturaleza cósmica y divina. Al ser testigos de este orden, descubrimos nuestro verdadero propósito de
        vida, el cual siempre está relacionado con la naturaleza, el mundo y la divinidad, ya que, al cuidar de ellas,
        también cuidamos de nosotros y de los que amamos.</p>
    </div>
    <div class="col-md-12 col-lg-6">
      <img alt="photo01" src="assets/img/photo-01.png">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <img alt="photo02" src="assets/img/light-bg-01.png">
    </div>
    <div class="col-md-12 col-lg-6 text-center test2">
      <p>
        Es por ese amor a la creación, a las personas de nuestra vida, y a nosotros mismos, que decidimos emprender este
        lugar. Para que conectes contigo, con la naturaleza, con lo divino que hay en ti. Para que recuerdes que todos
        somos uno, que somos alquimistas de nuestra realidad, verdaderos arquitectos de nuestro destino y guardianes del
        mundo, su belleza y sus secretos”.
      </p>
    </div>
  </div>
</div>
