<app-logo-bar></app-logo-bar>
<div class="container-fluid">
    <div class="main custom-control-inline">
        <h1>Dashboard</h1>
        <div class="main-buttons custom-control-inline">
            <button *ngIf="sound==false" (click)="initSound()" class="payform sound">
                ACTIVAR ALARMA
            </button>
            <button *ngIf="sound==true" class="payformg sound">
                ALARMA ACTIVA
            </button>
            <button (click)="getIdView(item.id)" class="payform" *ngFor="let item of views">
                {{item.name | uppercase}}
              </button>
            <button (click)="logout()" class="payform logout">
                LOGOUT
              </button>
        </div>
    </div>
    <app-firstview *ngIf="id==0"></app-firstview>
    <app-secondview *ngIf="id==1"></app-secondview>
</div>