<app-logo-bar></app-logo-bar>
<div>
    <!-- <div id="carouselExampleSlidesOnly" class="carousel slide animated fadeIn fast" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/find-us-banner.png" class="d-block w-100" alt="..." />
            </div>
        </div>
    </div> -->
    <div class="container-fluid background-find-us-banner justify-content-center">
        ENCUÉNTRANOS
    </div>
    <div class="containe-all">
        <div class="container">
            <div class="row justify-content-center">
                <div class="map-responsive">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15311.092833054392!2d-71.5440775!3d-16.3855114!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf7a0cc711818f93f!2sLounge%20del%20Brujo!5e0!3m2!1ses!2spe!4v1597873585090!5m2!1ses!2spe"
                        width="1300"
                        height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0"></iframe>
                </div>
                <div class="col-lg-6 col-12 mcenter-content description ">
                    <div>
                        <img class="lounge" src="assets/img/logo-lounge.png" alt="lounge">
                        <div class="alinear">
                            <h2>Lounge Del Brujo</h2>
                            <p>{{stores[1].start_day}} a {{stores[1].end_day}} {{stores[1].start_time}}
                                a {{stores[1].end_time}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 mcenter-content description ">
                    <div>
                        <img class="vega" src="assets/img/vega.png" alt="vega">
                        <div class="alinear">
                            <h2>Minimarket del Vegasaurio</h2>
                            <p>{{stores[0].start_day}} a {{stores[0].end_day}} {{stores[0].start_time}}
                                a {{stores[0].end_time}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-12 mcenter-content description ">
                    <div>
                        <h2>Ubícanos</h2>
                        <p>Urbanizacion Tronco de Oro L-1, Cayma</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="whatsapp-chat">
    <a href="https://wa.link/e4xcit" target="_blank">
        <img src="../../../assets/img/whatsapp.png" alt="whatsapp" width="100">
    </a>
</div>
