<div class="text-center justify-content-center" id="section2">
  <div class="container">
    <div class="row justify-content-center test">
      <div class="col-12">
        <h1>Lounge del Brujo</h1>
        <p>
          Te invitamos a que des un salto hacia el universo de posibilidades, que
          descubras que el mundo es mucho más de lo que te han dicho que es y te
          aventures a vivir y soñar, libre de violencia y crueldad.
        </p></div>
    </div>
    <div>

    </div>
  </div>
</div>
