<div class="text-center justify-content-center" id="section2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h1 class="title animate__animated animate__fadeInLeft">Lounge del Brujo</h1>
                <p class="animate__animated animate__fadeInRight">
                    Te invitamos a que des un salto hacia el universo de posibilidades, que descubras que el mundo es mucho más de lo que te han dicho que es y te aventures a vivir y soñar, libre de violencia y crueldad.
                </p>
            </div>
            <div class="col-12 menu row justify-content-center animate__animated animate__fadeIn">
                <video autoplay class="menuvideo" id="myVideo" loop muted>
          <source src="assets/img/video.mp4" type="video/mp4">
        </video>
                <a class="col items" routerLink="/about">
                    <div>
                        HISTORIA
                    </div>
                </a>
                <a class="col items" href="#">
                    <div>
                        HORARIO Y UBICACIÓN
                    </div>
                </a>
                <a class="col items" routerLink="/carta">
                    <div>
                        CARTA Y EXPERIENCIAS
                    </div>
                </a>
                <a class="col items" href="#">
                    <div>
                        GIFTCARDS
                    </div>
                </a>
                <a class="col items" href="#">
                    <div>
                        TIENDA
                    </div>
                </a>
            </div>
        </div>
        <div>

        </div>
    </div>
</div>