* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#section2 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    color: #0A0A0A;
    text-decoration: none;
    alignment: center;
    font-size: 1.4em;
}

.items {
    padding-top: 160px;
    padding-bottom: 154px;
    text-decoration: none;
    color: white;
    -o-transition: color .1s ease, background 1s ease;
    -ms-transition: color .1s ease, background 1s ease;
    -moz-transition: color .1s ease, background 1s ease;
    -webkit-transition: color .1s ease, background 1s ease;
    transition: 1s;
    font-weight: 700;
}

.items:hover {
    background-color: black;
    color: rgb(151, 12, 12);
    opacity: .7;
}

.menu {
    margin-top: 50px;
    box-shadow: 0 10px 18px black, inset 0 0 9px transparent;
}

.menuvideo {
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.container {
    margin-top: 10vh;
}

.title {
    margin-bottom: 5vh;
}

.animate__animated.animate__fadeInRight {
    --animate-duration: 3s;
}

.animate__animated.animate__fadeInLeft {
    --animate-duration: 3s;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 3s;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .items {
        font-size: 14px;
        padding-top: 75px;
        padding-bottom: 63px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 599px) {
    .items {
        font-size: 12px;
        padding-top: 55px;
        padding-bottom: 42px;
    }
}