<div class='slider'>
    <!-- background slide -->
    <div class='slide1'></div>
    <div class='slide2'></div>
    <div class='slide3'></div>
    <!-- end background slide -->
    <div class="">


        <!-- introduction -->
        <div class="home animate__animated animate__fadeIn">
            <div class="logo">
                <!-- fire animation -->
                <div class="fire">
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                    <div class="particle"></div>
                </div>
                <!-- end fire animation -->
                <!-- img logo -->
                <div>
                    <img src="assets/img/logo.png" alt="logo">
                </div>
                <!-- end img logo -->

            </div>
            <div class="text">
                Te invitamos a que des un salto hacia el universo de posibilidades, que descubras que el mundo es mucho más de lo que te han dicho que es y te aventures a vivir y soñar, libre de violencia y crueldad.

            </div>
            <!-- button delivery -->
            <div class="box">
                <a [routerLink]="[ '/carta'] " class="btn btn-white btn-animation-1">¡Haz tu pedido!</a>
            </div>
            <!-- end button delivery -->
        </div>
        <!-- end introduction -->

    </div>
</div>