<app-header></app-header>
<div id="section1">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6 text-center">
        <button routerLink="/carta" type="button">
          DELIVERY
        </button>
      </div>
      <div class="col-sm-12 col-md-6 text-center">
        <button onclick="location.href='#section2'" type="button">
          ¡DESCUBRE!
        </button>
      </div>
    </div>
  </div>
</div>
<app-categories></app-categories>
