<div class="wrapper">
    <div class="main">
        <nav class="navbar navbar-light bg-faded justify-content-between flex-nowrap flex-row">
            <div class="container">
                <img routerLink="/home" class="logo rounded d-block" src="./assets/img/logo.png" alt="">
                <ul class="nav navbar-nav flex-row justify-content-center">
                    <li *ngFor="let category of categories; let i = index" class="nav-item">
                        <a class="nav-link pr-3 category" (click)="setNumber(i)">{{ category.name }}</a>
                    </li>
                </ul>
            </div>
        </nav>
        <hr>
        <div class="container">
            <h2>{{categories[getNumber()].description}}</h2>
            <div class="row justify-content-center">
                <div class="card foodcard col-sm-10 col-md-5  col-lg-3" *ngFor="let dish of categories[getNumber()].items">
                    <img [src]="baseRoot+dish.urlImage" class="card-img-top image-card" [alt]="dish.name">
                    <div class="card-body">
                        <h5 class="card-title">{{dish.name}}</h5>
                        <p class="card-text mb-5">{{dish.description}}</p>
                        <a (click)="addDish(dish)" class="btn btn-block btn-dish btn-lounge">Añadir <small>S/ {{dish.price}}.00</small></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vl"></div>
    <div class="sidebar">
        <h2 class="mt-4">Mi pedido</h2>
        <ul>
            <li *ngFor="let dish of finalOrder ">
                <div>
                    <div>{{dish.name}}</div>
                    <div>S/{{dish.price}}</div>
                </div>
            </li>
        </ul>
        <a routerLink="/form" id="btn-final" class="btn btn-block btn-lounge">
            <div>Continuar</div>
            <div *ngIf="getFinalPrice()!= 0"><small>S/{{getFinalPrice()}}.00</small></div>
        </a>
    </div>
</div>