.logo {
    height: 10vh;
    z-index: 1;
}

h2 {
    color: white !important;
}

.buycar {
    color: white;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient( to bottom, rgba(0, 0, 0, 1), rgba(120, 22, 33, 1), rgba(0, 0, 0, 1));
}

.main {
    width: 70%;
    border-right: 6px solid white;
    padding-bottom: 5vh;
}

.sidebar {
    width: 30%;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0 2em;
}

.buycar-responsive {
    visibility: hidden;
    position: absolute;
}

.foodcard {
    margin: 1em;
    width: 18rem;
    border: 4px solid;
    border-color: black;
    border-radius: 8px;
    box-shadow: 0 6px 18px black, inset 0 0 9px white;
    transition: .5s;
}

.foodcard div a {
    color: #F2F2F2;
}

.foodcard:hover {
    transform: rotateX(7deg) translateY(-6px) scale(1.05);
}

.btn-row {
    width: 15rem;
}

.btn-lounge {
    color: #F2F2F2;
    background-color: #8C0E1D;
    border-color: #781621;
}

.btn-lounge-b {
    color: #F2F2F2;
    background-color: black;
    border-color: black;
    width: 15rem;
    cursor: default !important;
}

.btn-lounge:hover {
    color: #F2F2F2;
    background-color: #781621;
    /*border-color: #0062cc*/
}

#btn-final {
    position: fixed;
    width: 30%;
    right: 0;
    bottom: 5vh;
}

.btn-dish {
    position: absolute;
    right: 0;
    bottom: 0;
}

.image-card {
    height: auto;
    margin-top: 10px;
    /*width: auto;*/
}

.dish-name {
    display: flex;
    position: absolute;
    right: 0;
}

.menutitle {
    width: 100%;
    color: white !important;
}

.container-category {
    margin-top: 3.5rem;
    width: 100%;
}

.container-subcategory {
    width: 100%;
}

.whitetext {
    color: white !important;
}

.container-btn-style {
    margin-top: 1rem;
}

.category {
    padding-left: 1rem;
    color: #781621;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: .5s;
}

hr {
    background-color: white;
}

.category:hover {
    color: white !important;
}

.category:active {
    color: white !important;
}

.subcategory {
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: .5s;
}

.subcategory:hover {
    color: #781621 !important;
}

.subcategory:active {
    color: #781621 !important;
}

button {
    background: rgb(120, 22, 33);
    color: #ffffff;
    border-radius: 0 0 4px 4px;
    border: 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}

button:hover {
    filter: contrast(115%);
}

button:disabled {
    opacity: 0.5;
    cursor: default;
}

@media only screen and (max-device-width: 480px) {
    .container-category {
        margin-top: 4rem;
    }
    .btn-row {
        width: 8rem;
        font-size: 14px;
        height: 4rem;
    }
    .sidebar {
        visibility: hidden;
        width: 0%;
        padding: 0 0em;
    }
    .main {
        width: 100%;
        padding-bottom: 5vh;
        border-right: 6px solid transparent;
    }
    .buycar-responsive {
        visibility: visible;
        position: relative;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .container-category {
        margin-top: .5rem;
    }
    .category {
        margin-top: 5rem;
    }
    .sidebar {
        visibility: hidden;
        width: 0%;
        padding: 0 0em;
    }
    .main {
        width: 100%;
        padding-bottom: 5vh;
        border-right: 6px solid transparent;
    }
    .buycar-responsive {
        visibility: visible;
        position: relative;
    }
}