<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center alig-items-center">
            <h1>Información de la compra</h1>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center alig-items-center">
            <form>
                <h2>Cantidad a pagar: S/.{{ cantidadDesdeService }},00</h2>
                <input type="text" id="name" placeholder="Nombres" required>
                <input type="text" id="phone" placeholder="Telefono" required>
                <input type="text" id="adress" placeholder="Dirección" required>
                <input type="text" id="reference" placeholder="Referencia" required>
                <div class="row">
                    <div class="col d-flex justify-content-center alig-items-center">
                        <a [routerLink]="'/card'"><button class="payform"> Paga con Tarjeta</button></a>
                        <a [routerLink]="'/cash'"><button class="payform"> Paga con Efectivo</button></a>
                        <a [routerLink]="'/yape'"><button class="payform"> Paga con Yape</button></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>