<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center alig-items-center">
            <h1>Información de la compra</h1>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center alig-items-center">
            <!-- <form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()>
                <h2>Cantidad a pagar: S/.{{ cantidadDesdeService }},00</h2>
                <input type=" text " id="name " placeholder="names " required>
                <input type="text " id="phone " placeholder="Telefono " required>
                <input type="text " id="adress " placeholder="Dirección " required>
                <input type="text " id="reference " placeholder="Referencia " required>
                <div class="row ">
                    <div class="col d-flex justify-content-center alig-items-center " *ngFor="let item of pay ">
                        <a></a><button class="payform " [disabled]="disabled " (click)="getIdPay(item.id) " type="submit "> {{item.pay}}</button></a>
                    </div>
                </div>
            </form> -->
            <form id="payment-form" autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">
                <h3 *ngIf="!checker()">Cantidad a pagar: S/.{{ cantidadDesdeService }},00</h3>
                <h3 *ngIf="checker()">No se a seleccionado ningún producto, porfavor regrese a la <a class="formlink" [routerLink]="'/carta'">carta</a>.</h3>
                <br>
                <div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Nombres</label>
                        <div class="col">
                            <input [readonly]="disabled || checker()" class="form-control" type="text" placeholder="nombres completos" formControlName="name" [class.is-invalid]="nameNoValido">
                            <small *ngIf="nameNoValido" class="text-danger">
                                Los nombres son obligatorios
                            </small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Teléfono</label>
                        <div class="col">
                            <input [readonly]="disabled || checker()" class="form-control" type="text" placeholder="número de telefono" formControlName="number" [class.is-invalid]="numberNoValido">
                            <small *ngIf="numberNoValido" class="text-danger">
                                El número de teléfono es obligatorio
                            </small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Correo</label>
                        <div class="col">
                            <input [readonly]="disabled || checker()" class="form-control" id="email" type="email" placeholder="correo electrónico" formControlName="email" [class.is-invalid]="emailNoValido">
                            <small *ngIf="emailNoValido" class="text-danger">
                                El correo es obligatorio
                            </small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Dirección</label>
                        <div class="col">
                            <input [readonly]="disabled || checker()" class="form-control" type="text" placeholder="dirección" formControlName="address" [class.is-invalid]="addressNoValido">
                            <small *ngIf="addressNoValido" class="text-danger">
                                La dirección es obligatoria
                            </small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Referencia</label>
                        <div class="col">
                            <input [readonly]="disabled || checker()" class="form-control" type="text" placeholder="referencia" formControlName="reference" [class.is-invalid]="referenceNoValido">
                            <small *ngIf="referenceNoValido" class="text-danger">
                                La referencia es obligatoria
                            </small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Descripción</label>
                        <div class="col">
                            <input [readonly]="disabled || checker()" class="form-control" type="text" placeholder="ejemplo: Mayonesa adicional" formControlName="comentary">
                        </div>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="form-group col d-flex justify-content-center alig-items-center" *ngFor="let item of pay">
                        <div class="input-group col">
                            <button [disabled]="disabled || checker()" (click)="getIdPay(item.id)" class="payform" data-toggle="modal" data-target="#exampleModal">
                        Paga con {{item.pay}}
                      </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Desea confirmar el pedido?
                                            <br> Por favor asegurese de haber llenado todos los campos obligatorios.
                                        </div>
                                        <div class="modal-footer">
                                            <button [routerLink]="'/carta'" type="button" data-dismiss="modal">Cancelar</button>
                                            <button (click)="sendData()" type="submit">Confirmar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <app-card *ngIf="forma.value.payment_method==1 && confirmed"></app-card>
                <app-cash *ngIf="forma.value.payment_method==2 && confirmed"></app-cash>
                <app-yape *ngIf="forma.value.payment_method==3 && confirmed"></app-yape>
                <br>
                <h5><a class="formlink" [routerLink]="'/carta'">Regresar a la carta</a></h5>

            </form>
        </div>
    </div>
</div>