<footer class="page-footer footer font-small">
  <div class="container">
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold" routerLinkActive="active">
          <a routerLink="/about">Historia</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold" routerLinkActive="active">
          <a routerLink="/about">Ubicanos</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold" routerLinkActive="active">
          <a routerLink="/carta">Cartas y Experiencias</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold" routerLinkActive="active">
          <a routerLink="/about">Giftcards</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold" routerLinkActive="active">
          <a routerLink="/about">Venga Store</a>
        </h6>
      </div>
    </div>
    <hr class="rgba-white-light" style="margin: 0 15%;">
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
          explicabo.
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
      </div>
    </div>
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
    <div class="row pb-3">
      <div class="col-md-12">
        <div class="mb-5 flex-center">
          <a href="https://www.facebook.com/LoungeDelBrujo/">
            <fa-icon [icon]="iconFacebook" size="2x"></fa-icon>
          </a>
          <fa-icon [icon]="iconTwitter" size="2x"></fa-icon>
          <fa-icon [icon]="iconInstagram" size="2x"></fa-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:<a href="https://berpl.github.io/dijkstra-web/"> DijkstraWeb</a>
  </div>
</footer>
