<footer class="page-footer footer font-small">
    <div class="container">
        <div class="row text-center d-flex justify-content-center pt-5 mb-3 font">
            <div class="col-md-2 mb-3">
                <p class="text-uppercase font-weight-bold" routerLinkActive="active">
                    <a routerLink="/about">Historia</a>
                </p>
            </div>
            <div class="col-md-2 mb-3">
                <p class="text-uppercase font-weight-bold" routerLinkActive="active">
                    <a routerLink="/find-us">Ubicanos</a>
                </p>
            </div>
            <div class="col-md-2 mb-3">
                <p class="text-uppercase font-weight-bold" routerLinkActive="active">
                    <a routerLink="/carta">Cartas y Experiencias</a>
                </p>
            </div>
            <!-- <div class="col-md-2 mb-3">
                <p class="text-uppercase font-weight-bold" routerLinkActive="active">
                    <a routerLink="/about">Giftcards</a>
                </p>
            </div> -->
            <div class="col-md-2 mb-3">
                <p class="text-uppercase font-weight-bold" routerLinkActive="active">
                    <a href="https://berpl.github.io/vega/home">Vega Store</a>
                </p>
            </div>
        </div>
        <hr class="rgba-white-light" style="margin: 0 15%;">
        <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
            <div class="col-md-8 col-12 mt-5">
                <p style="line-height: 1.7rem">Número: +51 954 719 605</p>
                <p style="line-height: 1.7rem">Dirección: Urbanizacion Tronco de Oro L-1, Cayma</p>
                <p style="line-height: 1.7rem">Correo: administracion@loungedelbrujo.com</p>

            </div>
        </div>
        <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
        <div class="row pb-3">
            <div class="col-md-12">
                <div class="mb-5 flex-center">
                    <a href="https://www.facebook.com/LoungeDelBrujo/">
                        <fa-icon [icon]="iconFacebook" size="2x"></fa-icon>
                    </a>
                    <a href="https://twitter.com/lounge_arequipa">
                        <fa-icon [icon]="iconTwitter" size="2x"></fa-icon>
                    </a>
                    <a href="https://www.instagram.com/loungedelbrujo/">
                        <fa-icon [icon]="iconInstagram" size="2x"></fa-icon>
                    </a>
                    <!-- <a href="https://www.instagram.com/loungedelbrujo/">
                        <fa-icon [icon]="iconTiktok" size="2x"></fa-icon>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">
        © 2020 Copyright:<a> Dijkstra Technologies</a>
    </div>
</footer>